<!-- See https://bl.ocks.org/vasturiano/12da9071095fbd4df434e60d52d2d58d -->

<!-- Display a sunburst -->

<h1>{{ fingerprintName }}</h1>
<h2>Current ideal: {{ currentIdeal }}</h2>

<script>
    sunburst('{{query}}', `{{{dataUrl}}}`, window.innerWidth - 100, window.innerHeight - 100);
</script>