.idea/
*.iml
.vscode/
*~
.#*
.npmrc
node_modules/
*.d.ts
*.js
*.js.map
*.log
*.txt
/.nyc_output/
/build/
/coverage/
/doc/
/log/
git-info.json
spidered
!d3.*.min.js
!jquery-3.4.1.min.js
!webpack.config.js