<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Atomist Visualizer</title>

    <style>
        body {
            font-family: Sans-serif;
            font-size: 11px;
        }
    </style>

</head>


<script src='https://d3js.org/d3.v4.min.js'></script>

<script src="/js/sunburst.js"></script>

<body>

    {{{body}}}

</body>

</html>