<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Atomist Visualizer</title>

    <style>
        body {
            font-family: Sans-serif;
            font-size: 11px;
        }

        .slice {
            cursor: pointer;
        }

        .slice .main-arc {
            stroke: #fff;
            stroke-width: 1px;
        }

        .slice .hidden-arc {
            fill: none;
        }

        .slice text {
            pointer-events: none;
            dominant-baseline: middle;
            text-anchor: middle;
        }
    </style>

</head>


<script src='https://d3js.org/d3.v4.min.js'></script>

<script src="/js/sunburst.js"></script>

<body>

<img src="https://cdn.dribbble.com/users/42583/screenshots/2596559/atomist01.jpg"
     width="160"
     height="120"
     alt="Atomist"
     align="right">

{{{body}}}

</body>
</html>