body {
    background-color: white;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
    color: #2a2a2a;
    margin: 0px;
}

main {
    margin: 10px;
}

header {
    background-color: rgb(34, 106, 106);
    color: white;
    padding: 0.8em;
    border-bottom: 3px solid rgb(186, 216, 95);
}

header .atomist-logo {
    width: 100px;
}

header .around-page-title {
    display: table
}

header .page-title {
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-size: 1.5em;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.actionItemBox {
    font-size: large;
    border: 2px solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(34, 106, 106, 0.2);
}

/* d3 sunburst stuff */

svg .slice {
    cursor: pointer;
}

svg .slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

svg .slice .hidden-arc {
    fill: none;
}

svg .slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

/* Collabsible content stuff 
 * https://alligator.io/css/collapsible/
 */

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
    padding-bottom: 1rem;
}

input[type='checkbox'].sneaky {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
    padding: 1rem;
    color: #2a2a2a;
    background: rgb(186, 216, 95);
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: rgb(34, 106, 106);
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 5000px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(186, 216, 95, 0.75);
    border-bottom: 1px solid rgba(186, 216, 95, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}