body {
    background-color: white;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-family: "Tofino", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
    color: #2a2a2a;
}